<ion-header>
    <ion-toolbar>
        <ion-title>
            <h1>{{ titulo }}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor='let lugar of lugares'>
        <ion-card-header><img src={{lugar.image}} alt=""></ion-card-header>
        <ion-card-title>
            {{ lugar.nombre }}
        </ion-card-title>
        <ion-card-subtitle>{{ lugar.departamento }}</ion-card-subtitle>
        <ion-card-content>
            <p>{{ lugar.descripcion }}</p>
        </ion-card-content>
    </ion-card>
</ion-content>