<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="reiniciartema('')">
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ temaSeleccionado }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="temaSeleccionado === ''">
        <ion-row>
            <ion-col size="6" *ngFor="let tema of temas">
                <ion-card>
                    <ion-card-header> <img src="{{ tema.image }}" alt="" (click)="mostrartema(tema.nombre)"></ion-card-header>
                </ion-card>
            </ion-col>

        </ion-row>

    </ion-grid>
    <span *ngIf="temaSeleccionado === 'gastronomia'">
  <ion-card *ngFor="let plato of gastronomia">

      <ion-card-header>
          <img src="{{plato.image}}" alt="">
      </ion-card-header>
      <ion-card-title>{{ plato.nombre }}</ion-card-title>
      <ion-card-subtitle>
          {{plato.origen}}
      </ion-card-subtitle>
  </ion-card>
</span>

    <span *ngIf="temaSeleccionado === 'playas'">
    <ion-card *ngFor="let playa of playas">

        <ion-card-header>
            <img src="{{playa.image}}" alt="">
        </ion-card-header>
        <ion-card-title>{{ playa.nombre }}</ion-card-title>
        <ion-card-subtitle>
            {{playa.lugar}}
        </ion-card-subtitle>
    </ion-card>
  </span>
    <span *ngIf="temaSeleccionado === 'tendencias'">
    <ion-card *ngFor="let tendencia of tendencias">

        <ion-card-header>
            <img src="{{tendencia.image}}" alt="">
        </ion-card-header>
        <ion-card-title>{{ tendencia.nombre }}</ion-card-title>
        <ion-card-subtitle>
            {{tendencia.descripcion}}
        </ion-card-subtitle>
    </ion-card>
  </span>
    <span *ngIf="temaSeleccionado === 'bares'">
      <ion-card *ngFor="let bar of bares">
  
          <ion-card-header>
              <img src="{{bar.image}}" alt="">
          </ion-card-header>
          <ion-card-title>{{ bar.nombre }}</ion-card-title>
          <ion-card-subtitle>
              {{bar.ubicacion}}
          </ion-card-subtitle>
      </ion-card>
    </span>
</ion-content>